<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SpringBoot.mapper.CommentMapper">

<sql id="baseCommentColumn">
	COMMENT_NO,CUSER_ID,COMMENT_SUBJECT,COMMENT_CONTENT, reg_date as creg_date
</sql>
<sql id="baseColumn">
	COMMENT_NO,CUSER_ID,COMMENT_SUBJECT,COMMENT_CONTENT, reg_date
</sql>

<resultMap type="SpringBoot.domain.CommentDTO" id="CommentResultMap">
	<id column="comment_no" jdbcType="BIGINT" property="commentNo"/>
	<id column="cuser_id" jdbcType="VARCHAR" property="cuserId"/>
	<result column="CREG_DATE" jdbcType="TIMESTAMP" property="regDate"/>
	<result column="comment_subject" jdbcType="VARCHAR" property="commentSubject"/>
	<result column="comment_content" jdbcType="VARCHAR" property="commentContent"/>
</resultMap>

<select id="selectByComment" parameterType="SpringBoot.domain.StartEndPageDTO" resultMap="CommentResultMap" >
	select rn, <include refid="baseCommentColumn" />
		from (select rownum rn, <include refid="baseColumn" />
			 from ( select <include refid="baseColumn" />
					from comment1
					<trim prefix="where" prefixOverrides="AND | OR">
						<if test="userId != null ">
							and cuser_id = #{cuserId}
						</if>
						<if test="num != null ">
							and comment_no = #{num}
						</if>
					</trim>
					order by reg_date desc))
		where rn &gt;= #{startPage} and rn &lt;= #{endPage}
</select>

<insert id="insertComment" parameterType="SpringBoot.domain.CommentDTO">
insert into comment1(<include refid="baseColumn" />)
values(num_seq.nextval,#{cuserId},#{commentSubject},#{commentContent}, sysdate)
</insert>

<select id="commentCount" resultType="int">
 	select count(*) from comment1	
</select>

<!-- <select id="commentReplies" resultType="SpringBoot.domain.CommentDTO">
	select
</select> -->

</mapper>